p.item-image {
	float: left;
}

#header .header-content img {
    background: #FFF;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #FFF;
    border-radius: 50%;
    position: relative;
    top: -30px;
    margin-right: 10px;
    text-align: left !important;
}

.brand {
    color: inherit;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 2;
    display: inline-block;
    -webkit-transition: .25s color;
    transition: .25s color;
    position: relative;
    top: -5px;
}

.brand small {
    display: inline-block;
    font-size: 26px;
    line-height: normal;
    font-weight: inherit;
    display: block;
    margin-top: -13px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

.header-content {
    height: 110px;
}

.clear { clear: both; }

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 56.34%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}


#sidebar .brand.active.router-link-active {
  font-size: 24px;
  line-height: 26px;
}
#sidebar .header-content {
  width: 500px;
}
#sidebar .brand small {
  font-size: 22px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.portfolio-gallery {
    .image {
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      border: 1px solid #ebebeb;
      margin: 5px;
  }
}


ul.social-icons {
    list-style-type: none;
    padding-left: 0;

    li {
      float: left;
      width: 100%;
      display: block;
    }

    i {
      vertical-align: text-top;
      width: 12px;
      text-align: center;
      position: relative;
      top: -8px
    }

}

ul.social-icons a span:first-child {
    padding: 6px;
    border-radius: 50%;
    color: #fff;
    width: 24px;
    height: 24px;
    display: inline-block;
    opacity: .7;
    transition: opacity .3s, transform .3s
}

ul.social-icons a.upwork span:first-child i {
  background: url(https://res.cloudinary.com/crigger-assets/image/upload/v1536789765/logos/upwork-logo.png) no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-left: -7px;
    margin-top: -2px;
}

ul.social-icons a.upwork span:first-child {
  background: #FFF;
}
ul.social-icons a.github span:first-child {
  background: #000;
}

.social-icons a:active span:first-child,
.social-icons a:focus span:first-child,
.social-icons a:hover span:first-child {
    opacity: 1;
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.social-icons a.twitter span:first-child {
    background: #7ac9ed
}

.social-icons a.linkedin span:first-child {
    background: #0c7bb6
}

.social-icons a.email span:first-child i {
    margin-left: 0;
    top: -7px;
    font-size: 13px
}

.social-icons a.email span:first-child {
    background: #d74d2f
}

.social-icons a span:last-child {
  vertical-align: top;
  font-size: 14px;
    overflow: hidden;
    display: inline-block;
    width: 91%;
}

.item-muted, .text-muted { font-weight: 300; }

.blueimp-gallery > .description {
    top: 50px !important;
    width: 35% !important;
    opacity: .8;
}

.blueimp-gallery>.title { opacity: 1 !important; }

iframe#myplayer {
    width: 100%;
}

.markdown-body.md-body {
    margin-bottom: 20px;
}
