p.item-image {
	float: left;
}

#header .header-content img {
    background: #FFF;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #FFF;
    border-radius: 50%;
    position: relative;
    top: -30px;
    margin-right: 10px;
    text-align: left !important;
}

.brand {
    color: inherit;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 2;
    display: inline-block;
    -webkit-transition: .25s color;
    transition: .25s color;
    position: relative;
    top: -5px;
}

.brand small {
    display: inline-block;
    font-size: 26px;
    line-height: normal;
    font-weight: inherit;
    display: block;
    margin-top: -13px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

.header-content {
    height: 110px;
}

.clear { clear: both; }

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 56.34%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}


#sidebar .brand.active.router-link-active {
  font-size: 24px;
  line-height: 26px;
}
#sidebar .header-content {
  width: 500px;
}
#sidebar .brand small {
  font-size: 22px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.portfolio-gallery {
    .image {
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid #ebebeb;
      margin: 5px;
  }
}